ZBX_SERVER_HOST=server
PHP_TZ=America/Fortaleza
ZBX_HISTORYSTORAGETYPES=log,text
ZBX_STARTPOLLERS=20
ZBX_STARTPOLLERSUNREACHABLE=20
ZBX_STARTPINGERS=30
ZBX_STARTDISCOVERERS=20
ZBX_HOUSEKEEPINGFREQUENCY=1
ZBX_MAXHOUSEKEEPERDELETE=5000
ZBX_CACHESIZE=256M
ZBX_CACHEUPDATEFREQUENCY=60
ZBX_STARTDBSYNCERS=5
ZBX_HISTORYCACHESIZE=64M
ZBX_TRENDCACHESIZE=64M
ZBX_VALUECACHESIZE=128M
ZBX_TIMEOUT=30
ZBX_UNREACHABLEPERIOD=180
ZBX_LOGSLOWQUERIES=3000
